@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*#mernik-monitor-toolbar-item {*/
/*	width: 55px;*/
/*}*/

#mernik-monitor-counter-status-on-page.status_ok {
	list-style-image: url("chrome://mernik_monitor_dev/skin/status_ok.png");
}

#mernik-monitor-counter-status-on-page.status_no {
	list-style-image: url("chrome://mernik_monitor_dev/skin/status_no.png");
}

#mernik-monitor-counter-status-on-page.status_wrong {
	list-style-image: url("chrome://mernik_monitor_dev/skin/status_wrong.png");
}

#mernik-monitor-counter-status-on-page.status_unknown {
	list-style-image: url("chrome://mernik_monitor_dev/skin/status_unknown.png");
}

#mernik-monitor-counter-status-on-page.status_loading {
	list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

